---
- hosts: manager
  become: true
  vars:
    manager_private_ip: "10.128.0.14"

  tasks:
    - name: Initialize Docker Swarm on manager (ignore error if already initialized)
      shell: docker swarm init --advertise-addr {{ manager_private_ip }}
      register: swarm_init
      failed_when: false

    - name: Get worker join token
      shell: docker swarm join-token -q worker
      register: worker_token

    - name: Save worker token to manager
      copy:
        content: "{{ worker_token.stdout }}"
        dest: /tmp/worker_token.txt
        mode: '0600'


- hosts: workers
  become: true
  vars:
    manager_private_ip: "10.128.0.14"

  tasks:
    - name: Get token file from manager node
      slurp:
        src: /tmp/worker_token.txt
      delegate_to: "{{ groups['manager'][0] }}"
      register: worker_token_file

    - name: Write token to worker machine
      copy:
        content: "{{ worker_token_file.content | b64decode }}"
        dest: /tmp/worker_token.txt
        mode: '0600'

    - name: Join swarm as worker
      shell: |
        docker swarm join --token $(cat /tmp/worker_token.txt) {{ manager_private_ip }}:2377
      register: join_output
      failed_when: false

